{% extends 'base.html.twig' %}

{% block CTA %}

{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="h2-responsive">DSGVO Gesetze vom Open Datenschutzcenter</h2>


        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5">
                <ul class="list-group">
                    {% for key,i in 1..18 %}
                        {% set artikel = 'artikel-' %}
                        {% set dsgvo = '-dsgvo' %}
                        <li class="list-group-item"><a
                                    href="{{ path('ghost',{'typ':'artikel', 'id':i, 'law':'dsgvo'}) }}">Artikel {{ i }}
                                DSGVO</a></li>
                    {% endfor %}
                </ul>

            </div>
            <div class="col-lg-9 col-md-8 col-sm-7">
                {% for p in content['posts'] %}
                    <div class="card mb-2">
                        <div class="card-header">
                            <h4>{{ p['title'] }}</h4>
                        </div>
                        <div class="card-body small">
                            {{ p['html']|raw }}
                        </div>
                        <div class="card-footer">
                            {% trans with {'%a%':p['primary_author']['name']} %}Von %a% in {% endtrans %} {% for t in p['tags'] %} {{ t['name'] }}{% if not loop.last %},{% endif %}{% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}